tr:nth-child(odd) {
    background: lightgrey;
}
tr:nth-child(even) {
    background: white;
}

.table-header th{
    border: 2px solid black;
}

.table-header {
    border-collapse: collapse;
}

button {
    background-color: green; /* Green */
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}

.scrollit {
    overflow-x:auto;
    height:400px;
}