<div class="scrollit">
        <!--Contains the entire table to be displayed-->
        <table>
                <tr class="table-header">
                  <th>Id </th>
                  <th>Name </th>
                  <th>Phone </th>
                  <th>Email </th>
                  <th>Company </th>
                  <th>Date Entry </th>
                  <th>Organization Number </th>
                  <th>Address 1 </th>
                  <th>City </th>
                  <th>Zip </th>
                  <th>Geo </th>
                  <th>Pan </th>
                  <th>Pin </th>
                  <th>Status </th>
                  <th>Fee </th>
                  <th>Guid </th>
                  <th>Date Exit </th>
                  <th>Date First </th>
                  <th>Date Recent </th>
                  <th>Url </th>
                  <th>Export: </th>
                </tr>
                <ng-template ngFor let-pagedItem [ngForOf]="pagedItems">
                  <tr>    
                    <td>{{pagedItem.id}}</td>
                    <td>{{pagedItem.name}}</td>
                    <td>{{pagedItem.phone}}</td>
                    <td>{{pagedItem.email}}</td>
                    <td>{{pagedItem.company}}</td>
                    <td>{{pagedItem.date_entry}}</td>
                    <td>{{pagedItem.org_num}}</td>
                    <td>{{pagedItem.address_1}}</td>
                    <td>{{pagedItem.city}}</td>
                    <td>{{pagedItem.zip}}</td>
                    <td>{{pagedItem.geo}}</td>
                    <td>{{pagedItem.pan}}</td>
                    <td>{{pagedItem.pin}}</td>
                    <td>{{pagedItem.status}}</td>
                    <td>{{pagedItem.fee}}</td>
                    <td>{{pagedItem.guid}}</td>
                    <td>{{pagedItem.date_exit}}</td>
                    <td>{{pagedItem.date_first}}</td>
                    <td>{{pagedItem.date_recent}}</td>
                    <td>{{pagedItem.url}}</td>
                    <td><button on-click="submitStatus(pagedItem)" style="margin-left: 20px;">Edit</button></td>
                  </tr>
              </ng-template>
        </table>
</div>
<div>
  <app-pagination bind-employees="employees" on-customEvent="itemsToBePaged($event)"></app-pagination>
</div>
